<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kessi.photovideomaker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".KessiApplication"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.PhotoVideoMaker">
        <activity
            android:name=".activities.photoframe.BackgroundFrameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.intro.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.PrivacyActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.myalbum.MyAlbumActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.videoeditor.VideoThemeActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.VideoPlayerActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".activities.ImageSaverActivity"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".activities.kessiimagepicker.activity.ImagePickerActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.songpicker.SongGalleryActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.swap.SwapperActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.process.VideoMakerActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.BgTemplateDetailsActivity"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.xinlan.imageeditlibrary.editimage.EditImageActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan" />

        <service android:name="vcarry.service.ServiceAnim" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="ttcHNDEIHmybFKMPCCg6GE0-SHHtx5Il000TufyXlDWyi71Mc4-zW-CBl96Uxs99RV8X0GbwqTWubcNU6UEfi6" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>